.box-shadow {
  box-shadow: 5px 10px 5px rgba(107, 98, 52, 0.75);
}

.ecom-bg {
  background-image: url("../../images/first.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nfp-bg {
  background-image: url("../../images/second.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.saas-bg {
  background-image: url("../../images/third.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tech-bg {
  background-image: url("../../images/fourth.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-bg {
  background-image: url("../../images/about.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-link {
  text-decoration: none;
}

.preview {
  color: var(--color-primary);
}

.top {
  margin-bottom: 3em;
}
