.cont {
  background-image: url("../images/continue.svg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrows {
  color: var(--color-blue);
}

.cont-a:hover .arrows {
  color: #0019b3;
}

.cont-a {
  text-decoration: none;
}
