.cont {
  background-image: url("../images/continue.svg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrows {
  color: var(--color-blue) !important;
}

.cont-a:hover .arrows {
  color: #0019b3 !important;
}

.cont-a {
  text-decoration: none !important;
}

.right-arrow .arrows {
  transition: all .5s ease-in;
}

.cont-a:hover .right-arrow .arrows {
  transform: translateX(30px);
}
