li {
  border-radius: 20px;
}

li a {
  color: var(--color-primary);
  text-decoration: none;
}

li:hover {
  background-color: var(--color-yellow);
  color: var(--color-primary);
}

li:hover a {
  background-color: var(--color-yellow);
  color: var(--color-primary);
}

li a:active {
  color: var(--color-blue);
  text-decoration: underline;
  background-color: rgba(255, 0, 0, 0);
}
