.nav li {
  border-radius: 20px;
}

li a {
  color: var(--color-primary);
  text-decoration: none;
}

li:hover {
  background-color: var(--color-yellow);
  color: var(--color-primary);
}

li:hover a {
  background-color: var(--color-yellow);
  color: var(--color-primary);
}

.header {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background: url("../../images/logo.png") no-repeat center center;
  background-size: cover;
  transition: all .21s ease-out;
}

.logo:hover {
  background: url("../../images/logo_hover.png") no-repeat center center;
  background-size: cover;
}
