.graphic {
  width: 100%;
  background-image: url("../images/404-graphic.svg");
  background-position: right bottom;
  background-size: 500px;
  background-repeat: no-repeat;
  height: 100vh;
}

.error {
  font-weight: 900;
  color: var(--color-yellow);
  font-size: 4rem;
}

.error-title {
  font-size: 2.5rem;
  line-height: initial;
}

@media only screen and (min-width: 25em) {

  .graphic {
    background-size: 100vw;
  }
}

@media only screen and (min-width: 38em) {

  .error-title {
    font-size: 3.2rem;
    line-height: initial;
  }

  .error {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 38em) {

  .error-title {
    font-size: 3.2rem;
    line-height: initial;
  }

  .error {
    font-size: 5.5rem;
  }
}
