<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Miscellaneous Art & Projects · Aaron Sander</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117,-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Miscellaneous Art & Projects · Aaron Sander">
  <meta property="og:url" content="https://aaronsander.ca/morework.html">
  <meta property="og:image" content="https://aaronsander.ca/images/shot.png">
  <meta property="og:site_name" content="Aaron Sander's Portfolio">
  <meta property="og:description" content="Check out some of my miscellaneous artwork and other things that I have made for various reasons">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@aaronsander8">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>
  <header role="banner" class="masthead" id="header">
    {% pattern header/nav %}
  </header>
  <main role="main" id="main" tabindex="0">
    {{content}}
  </main>
  {% pattern footer/footer %}
</body>
</html>
