---
layout: default
---
<div class="wrapper">
  {% pattern jumping/jumping %}
</div>
<div class="max-length gutter">
  <h2 id="overview">Overview</h2>
  <p class="overview mega push-2">{{page.overview}}</p>
  <div class="grid text-center">
    {% if page.button1_title %}
    <span class="unit unit-xs-centered xs-1 s-1 m-1-2 l-1-2 push-2">
      {% pattern buttons/site title=page.button1_title link=page.button1_link %}
    </span>
    {% endif %}
    {% if page.button2_title %}
    <span class="unit xs-1 s-1 m-1-2 l-1-2 push-2">
      {% pattern buttons/site title=page.button2_title link=page.button2_link %}
    </span>
    {% endif %}
  </div>
</div>
<div class="wrapper push-2">
  <img class="img-flex" src="/images/{{page.setupimg}}" alt="{{page.setupalt}}">
</div>
<div class="max-length gutter">
  <h2 id="process">Process</h2>
  <h3>Research</h3>
  <p>{{page.research}}</p>
  <h4>Website Goal</h4>
  <p class="push-2">{{page.goal}}</p>
  <h4>Target Audience</h4>
  <p>{{page.target}}</p>
</div>
{% if page.firstpersona %}
<div class="wrapper grid push-2">
  <img class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2" src="/images/{{page.firstpersona}}" alt="{{page.persona1alt}}">
  <img class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2" src="/images/{{page.secondpersona}}" alt="{{page.persona1alt}}">
</div>
{% endif %}
<div class="max-length push-2 gutter">
  {% if page.urban %}
  <h4>Competitive Analysis</h4>
  <h5>{{page.urban}}</h5>
  {% if page.competimg %}
  </div>
  <div class="wrapper push-2">
    <img class="img-flex" src="/images/{{page.competimg}}" alt="A screenshot of the vans custome shoe designer">
  </div>
  <div class="max-length push-2 gutter">
  {% endif %}
  <h6 class="push-1-2">{{page.abouttitle}}</h6>
  <p>{{page.about}}</p>
  <h6 class="push-1-2">{{page.audiencetitle}}</h6>
  <p>{{page.audience}}</p>
  {% if page.strengthstitle %}
  <h6 class="push-1-2">{{page.strengthstitle}}</h6>
  <p>{{page.strengths}}</p>
  {% else %}
  <h6 class="push-1-2">{{page.innovativestrat}}</h6>
  <p>{{page.strat}}</p>
  {% endif %}
  <h6 class="push-1-2">{{page.weaknessestitle}}</h6>
  <p class="push-2">{{page.weaknesses}}</p>
  {% if page.secondcompt %}
  <h4>Competitive Analysis</h4>
  <h5>{{page.secondcompt}}</h5>
  </div>
  <div class="wrapper push-2">
    <img class="img-flex" src="/images/{{page.competimg2}}" alt="A screenshot of the dominos custom pizza builder">
  </div>
  <div class="max-length push-2 gutter">
  <h6 class="push-1-2">{{page.abouttitle}}</h6>
  <p>{{page.about2}}</p>
  <h6 class="push-1-2">{{page.audiencetitle}}</h6>
  <p>{{page.audience2}}</p>
  <h6 class="push-1-2">{{page.innovativestrat}}</h6>
  <p>{{page.strat2}}</p>
  <h6 class="push-1-2">{{page.weaknessestitle}}</h6>
  <p class="push-2">{{page.weaknesses2}}</p>
  {% endif %}
  {% endif %}
  <h2 id="visual-design">Visual Design</h2>
  <p>{{page.visual}}</p>
  <h3>Typeface</h3>
  <p>{{page.type}}</p>
  <div class="grid push-2">
    <div class="unit xs-1 s-1-2 m-1-2 l-1-2 mb-font1 text-center">
      <img class="img-flex island-1-4" src="/images/{{page.type1}}" alt="Display of {{page.font1alt}}">
    </div>
    <div class="unit xs-1 s-1-2 m-1-2 l-1-2 mb-font2 text-center">
      <img class="img-flex island-1-4" src="/images/{{page.type2}}" alt="Display of {{page.font2alt}}">
    </div>
  </div>
  <h3>Colour Palette</h3>
  <p>{{page.colour}}</p>
  <img class="img-flex push-2" src="/images/{{page.colours}}" alt="{{page.coloursalt}}">
  <h2 id="bringing-it-together">Bringing it Together</h2>
  <p>{{page.together}}</p>
  <h3>Next Steps</h3>
  <p>{{page.nextsteps}}</p>
  {% if page.nextsteps2 %}
  <p>{{page.nextsteps2}}</p>
  {% endif %}
</div>
<div class="wrapper push-2">
  <img class="img-flex" src="/images/{{page.computer}}" alt="{{page.computeralt}}">
</div>
{% pattern continue/next url=page.nextpiece %}
