---
layout: default
---
<div class="max-length">
  <h2>Overview</h2>
  <p class="overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="wrapper">
  <img src="/images/mushroomboy_setup.png" alt="">
</div>
<div class="max-length">
  <h2>Process</h2>
  <h3>Research</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="wrapper grid">
  <img class="unit xs-1 s-1 m-1-2 l-1-2" src="/images/mushroomboy_persona1.png" alt="">
  <img class="unit xs-1 s-1 m-1-2 l-1-2" src="/images/mushroomboy_persona2.png" alt="">
</div>
<div class="max-length">
  <p>Description of personas :) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h3>Visual Design</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h3>Typeface</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="grid">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 mb-font1">
      <p>ABCDEFGHIJKLMNOP</p>
    </div>
  </div>
  <h3>Colour Palette</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
