.banner {
  background-image: url("../images/bannerbg.svg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.banner-content {
  background-color: var(--color-primary-light);
  position: absolute;
  top: 8%;
  right: 0%;
}

.down-arrow {
  bottom: 2%;
  left: 49%;
  animation: downarrow 1s linear infinite;
}

@keyframes downarrow {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }

}


.title {
  font-size: 2rem;
  line-height: 1;
}

@media only screen and (min-width: 400px) {

  .banner-content {
    top: 12%;
    right: 10%;
  }

  .banner {
    background-position: center center;
  }
}

@media only screen and (min-width: 25em) {

  .title {
    font-size: 2.5rem;
    line-height: 4.2rem;
  }
}

@media only screen and (min-width: 432px) {

  .banner-content {
    top: 10%;
    right: 10%;
  }

  .banner {
    background-position: center center;
  }
}

@media only screen and (min-width: 38em) {

  .title {
    font-size: 3rem;
    line-height: 4.2rem;
  }

  .banner {
    background-position: right center;
  }

  .banner-content {
    top: 25%;
    right: 10%;
  }
}

@media only screen and (min-width: 60em) {

  .title {
    font-size: 4.2087rem;
    line-height: 5.625rem;
  }
}
